* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.content {
    background-color: linear-gradient(to top, #0400b6, #3EDBF0);
    position: relative;
    z-index: 10;
    /* Navigation előtérbe hozása */
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-image: url('../image/szem2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero {
    background: linear-gradient(to right, #0d6efd, #6610f2);
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.features {
    padding: 40px 20px;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 40px 20px;
}

.form-control,
.btn {
    border-radius: 0;
}

nav ul {
    display: flex;
    list-style: none;

}

nav a {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 1em 2em;
    transition: 150ms ease;
}

.wave-container {
    position: relative;
    padding-bottom: 50px;
    /* hely a hullámnak */
}

.content {
    padding: 20px;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    transform: rotate(180deg);
    /* fordított hullám */
    z-index: 1;
    /* Hullám háttérbe küldése */
    pointer-events: none;
    /* Hullám nem blokkolja a kattintásokat */
}

.wave path {
    /* Drop shadow a hullámzó részre */
    filter: drop-shadow(0 8px 20px rgba(0, 0, 0, 0.8));
}

nav .home-li {
    margin-right: auto;
}

nav li {
    display: flex;
    font-variant: small-caps;
}

nav a:hover {
    border-bottom: 2px solid rgb(80, 80, 80);
}

nav a.active-link {
    border-bottom: 2px solid black;
}

nav ul {
    border: 2px solid rgba(53, 98, 231, 0);
}

.company_logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.focim {
    position: absolute;
    left: 40px;
    top: 250px;
}
.szex {
    background-color: rgba(255, 255, 255, 0.4);
    
}